* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: aquamarine;
}

#information{
    background-color:white;
    padding: 20px 30px 40px 30px;
    overflow: auto;
    width: 85%;
    align-self: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}


#about h2 {
    margin-top: 5px;
}


#contact h2 {
    background-color:white;
    color: aquamarine;
    width: 40%;
}


#contact p {
    color: white;
    font-size: 24px;
}

.banner {
    background-color: aliceblue;
    height:180px;
    width: 80%;
    left: 10%;
    padding-top: 500px;

}


#banner p {
    color: white;
}

h1 {
    color:white;
    vertical-align: top;
    /* display: inline-block; */
    font-size: 54px;
    border-bottom: 2px solid white;
    padding-top:100px;
    width: 80%;
    left:10%;
    display:inline-block;
}

h2 {
    background-color:aquamarine;
    color: white;
    padding: 20px;
    width: 80%;
    left: 10%;
    display:inline-block;
    border-radius: 15px;
    margin-top: 100px;
}

li {
      background-color:rgb(193, 243, 226);
      color: white;
      font-weight: bold;
      font-size: 20px;
      display: inline-block;
      height: 25px;
      width: 120px;
      padding: 10px 40px;
      margin: 5px 10px;
      border-radius: 15px;
      border: 5px solid white;
      vertical-align: middle;
      line-height: 45x;
      align-items: center;
      justify-content: center;
}


li:hover{
    background-color: aquamarine;
    font-size: 21px;
    transition: background-color .15s, font-size .15s;
}

li:active {
    background-color:aqua;
    border: 5px solid aquamarine;
}

nav {
    position: fixed;
    width: 100%;
    /* left: 10%; */
    background-color:gainsboro;
    padding: 0px 0px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 4px solid gray;
    /* border-left: 4px solid gray; */
    /* border-right: 4px solid gray; */
    /* border-radius: 15px; */
    height:100px;
    
    
}


a {
    color: white;
    text-decoration: none;
}

p {
    width: 80%;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(78, 78, 78);
}

img {
    width: 50%;
    border: 14px solid white;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 125px;
}
